body {
    background-color: #4AA569;

}

h1 {
    text-align: center;
    font-family: 'Inika', serif;
    font-size: 70px;
}

h2  {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.dealer, .player {
    display:flex;
    justify-content: center;
    align-items: center;
}

#message {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 0 0 40px 0;
    font-size: 30px;
    font-family: 'Inknut Antiqua', serif;
}

.buttons {
    display:flex;
    justify-content: center;
}

#hit, #stand {
    margin: 20px;
}

#new-game {
    margin: 5% 0 0 15%;
}

button {
    font-family: 'Inter', sans-serif;
    padding: 5px;
}