* {
    box-sizing: border-box;
  }

body {
    background-color: #4AA569;
}

h1 {
    text-align: center;
    font-family: 'Inika', serif;
    font-size: 70px;
    margin: 30px 0;
}

h2  {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.dealer, .player {
    display:flex;
    justify-content: center;
    align-items: center;
}

#message {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 40px 0;
    font-size: 30px;
    font-family: 'Inknut Antiqua', serif;
}

.buttons {
    display:flex;
    justify-content: center;
}

button {
    font-family: 'Inter', sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
}

#hit, #stand {
    margin: 40px 20px 20px 20px;
    width: 100px;
}

.container {
    text-align: center;
}

#new-game {
    margin-bottom: 40px;
    width: 200px;
}

#dealer-total, #player-total {
    margin: 0 0 0 100px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: center;
}

.player-cards, .dealer-cards {
    margin: 0 0 0 120px;
}